<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/lightbox.css">

    <title>Phonedeck CSI</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <!--<a id="forkme_banner" href="{{repository_url}}">View on GitHub</a>-->

          <a href="/"><h1 id="project_title">Phonedeck CSI</h1></a>
          <h2 id="project_tagline">Documentation</h2>

          <!--
          <section id="downloads">
            <a class="zip_download_link" href="#">Download this project as a .zip file</a>
            <a class="tar_download_link" href="#">Download this project as a tar.gz file</a>
          </section>
          -->
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
{{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Copyright &copy; 2014 desk.io GmbH. All Rights Reserved.</p>
      </footer>
    </div>
    
    <script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/lightbox-2.6.min.js"></script>

  </body>
</html>
